{% extends "base.html" %}

{% block content %}
<div class="d-flex flex-column" style="width: 100%;">
    <div class="bg-dark p-4" style="color: white">
        <h2>
            Edit Profile
        </h2>
        <form method="POST" action="/edit_profile/" enctype="multipart/form-data">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="name" class="form-control" name="name" placeholder="Enter new name or leave empty">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" name="email" placeholder="Enter new email or leave empty">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Enter new password or leave empty">
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea name="description" class="form-control" rows="3" placeholder="Enter new description or leave empty"></textarea>
            </div>
            <div class="form-group">
                <label for="profile_picture">Profile Picture (.jpg only)</label><br>
                <input type="file" name="profile_picture">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Save Changes</button>
        </form>
    </div>
</div>
{% endblock %}
